messaging/gt4.0/schema/compact/workspace/workspace_status_port_type_compact.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
/*
 * Copyright 1999-2007 University of Chicago
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
 -->

<!-- non processed WSDL, see copyToDeployableComponent ant target -->

<wsdl:definitions name="WorkspaceStatusService"
    targetNamespace="http://www.globus.org/2008/06/workspace/status"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    xmlns:wsnt="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd"
    xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd"
    xmlns:tns="http://www.globus.org/2008/06/workspace/status"
    xmlns:work-types="http://www.globus.org/2008/06/workspace/types"
    xmlns:log="http://www.globus.org/2008/06/workspace/metadata/logistics"
    xmlns:neg="http://www.globus.org/2008/06/workspace/negotiable" >

    <wsdl:import
        namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
        location="../wsrf/properties/WS-ResourceProperties.wsdl" />

    <wsdl:types>
        <xs:schema
            targetNamespace="http://www.globus.org/2008/06/workspace/status"
            xmlns:tns="http://www.globus.org/2008/06/workspace/status"
            elementFormDefault="qualified" >

            <xs:import
                namespace="http://www.globus.org/2008/06/workspace/types"
                schemaLocation="./workspace_types.xsd" />

            <xs:import
                namespace="http://www.globus.org/2008/06/workspace/negotiable"
                schemaLocation="./negotiable.xsd" />

            <xs:import
                namespace="http://www.globus.org/2008/06/workspace/metadata/logistics"
                schemaLocation="./metadata/vw-logistics.xsd" />

            <!--==================================================-->
            <!--               Resource properties                -->
            <!--==================================================-->

            <xs:element name="chargeGranularity" type="xs:int" />

            <xs:element name="StatusRPSet">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:chargeGranularity" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!--==================================================-->
            <!--    Operational input/output type declarations    -->
            <!--==================================================-->

            <xs:element name="queryUsedAndReserved"
                        type="tns:voidType" />

            <xs:complexType name="voidType" />

            <xs:element name="usedAndReservedTime"
                        type="tns:usedAndReservedTime_Type" />

            <xs:complexType name="usedAndReservedTime_Type">
                <xs:sequence>
                    <xs:element name="usedTime"
                                type="xs:duration" />
                    <xs:element name="reservedTime"
                                type="xs:duration" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="queryCurrentWorkspaces"
                        type="tns:voidType" />

            <xs:element name="currentWorkspaces"
                        type="tns:currentWorkspaces_Type" />

            <xs:complexType name="currentWorkspaces_Type">
                <xs:sequence>
                    <xs:element name="oneCurrentWorkspace"
                                type="tns:oneCurrentWorkspace_Type"
                                minOccurs="0"
                                maxOccurs="unbounded" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="oneCurrentWorkspace_Type">
                <xs:sequence>
                    <xs:element name="epr" type="wsa:EndpointReferenceType" />
                    <xs:element ref="work-types:currentState" />
                    <xs:element ref="work-types:schedule" />
                    <xs:element ref="neg:ResourceAllocation" />
                    <xs:element ref="log:logistics" />
                    <xs:element name="details" type="xs:string" use="optional" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="WorkspaceStatusFault">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="wsbf:BaseFaultType" />
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>

    <!--==================================================-->
    <!--            Message declarations                  -->
    <!--==================================================-->

    <wsdl:message  name="QueryUsedAndReservedTimeInputMessage">
        <wsdl:part name="parameters"
                   element="tns:queryUsedAndReserved" />
    </wsdl:message>

    <wsdl:message  name="QueryUsedAndReservedTimeOutputMessage">
        <wsdl:part name="parameters"
                   element="tns:usedAndReservedTime" />
    </wsdl:message>

    <wsdl:message  name="QueryCurrentWorkspacesInputMessage">
        <wsdl:part name="parameters"
                   element="tns:queryCurrentWorkspaces" />
    </wsdl:message>

    <wsdl:message  name="QueryCurrentWorkspacesOutputMessage">
        <wsdl:part name="parameters"
                   element="tns:currentWorkspaces" />
    </wsdl:message>

    <wsdl:message  name="StatusFaultMsg">
        <wsdl:part name="description"
                   element="tns:WorkspaceStatusFault" />
    </wsdl:message>

    <!--==================================================-->
    <!--            portType declaration                  -->
    <!--==================================================-->

    <wsdl:portType name="WorkspaceStatusPortType"
        wsrp:ResourceProperties="tns:StatusRPSet"
        wsdlpp:extends="	wsrpw:GetResourceProperty
                            wsrpw:GetMultipleResourceProperties
                            wsrpw:QueryResourceProperties">

        <wsdl:operation  name="queryUsedAndReservedTime">

            <wsdl:input  message="tns:QueryUsedAndReservedTimeInputMessage" />
            <wsdl:output message="tns:QueryUsedAndReservedTimeOutputMessage" />

            <wsdl:fault  name="WorkspaceStatusFault"
                         message="tns:StatusFaultMsg" />

        </wsdl:operation>

        <wsdl:operation  name="queryCurrentWorkspaces">

            <wsdl:input  message="tns:QueryCurrentWorkspacesInputMessage" />
            <wsdl:output message="tns:QueryCurrentWorkspacesOutputMessage" />

            <wsdl:fault  name="WorkspaceStatusFault"
                         message="tns:StatusFaultMsg" />

        </wsdl:operation>

    </wsdl:portType>

</wsdl:definitions>
