docs/src/examples/compact/workspace_group_port_type_compact.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
/*
 * Copyright 1999-2007 University of Chicago
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
 -->

<!-- non processed WSDL, see copyToDeployableComponent ant target -->

<wsdl:definitions
    name="WorkspaceGroupService"
    targetNamespace="http://www.globus.org/2008/06/workspace/group"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd"
    xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
    xmlns:tns="http://www.globus.org/2008/06/workspace/group"
    xmlns:work-types="http://www.globus.org/2008/06/workspace/types"
    xmlns:neg="http://www.globus.org/2008/06/workspace/negotiable" >

    <wsdl:import
        namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
        location="../wsrf/lifetime/WS-ResourceLifetime.wsdl" />

    <wsdl:types>
        <xs:schema
            targetNamespace="http://www.globus.org/2008/06/workspace/group"
            xmlns:tns="http://www.globus.org/2008/06/workspace/group"
            elementFormDefault="qualified">

            <xs:import
                namespace="http://www.globus.org/2008/06/workspace/types"
                schemaLocation="./workspace_types.xsd" />

            <!--==================================================-->
            <!--  Operational input/output type declarations      -->
            <!--==================================================-->

            <xs:element name="startWorkspaces"
                         type="work-types:voidType" />

            <xs:element name="startWorkspacesResponse"
                         type="work-types:voidType" />

            <xs:element name="shutdownWorkspaces"
                         type="work-types:WorkspaceShutdownRequest_Type" />

            <xs:element name="shutdownWorkspacesResponse"
                         type="work-types:voidType" />

        </xs:schema>
    </wsdl:types>

    <!--==================================================-->
    <!--            Message declarations                  -->
    <!--==================================================-->

    <wsdl:message  name="StartWorkspacesInputMessage">
        <wsdl:part name="parameters"
                   element="tns:startWorkspaces" />
    </wsdl:message>

    <wsdl:message  name="StartWorkspacesOutputMessage">
        <wsdl:part name="parameters"
                   element="tns:startWorkspacesResponse" />
    </wsdl:message>

    <wsdl:message  name="ShutdownWorkspacesInputMessage">
        <wsdl:part name="parameters"
                   element="tns:shutdownWorkspaces" />
    </wsdl:message>

    <wsdl:message  name="ShutdownWorkspacesOutputMessage">
        <wsdl:part name="parameters"
                   element="tns:shutdownWorkspacesResponse" />
    </wsdl:message>

    <!-- messages for faults: -->

    <wsdl:message  name="UnknownFaultMessage">
        <wsdl:part name="description"
                   element="work-types:WorkspaceUnknownFault" />
    </wsdl:message>

    <wsdl:message  name="StartFaultMessage">
        <wsdl:part name="description"
                   element="work-types:WorkspaceStartFault" />
    </wsdl:message>

    <wsdl:message  name="ShutdownFaultMessage">
        <wsdl:part name="description"
                   element="work-types:WorkspaceShutdownFault" />
    </wsdl:message>

    <wsdl:message  name="DisabledFaultMessage">
        <wsdl:part name="description"
                   element="work-types:OperationDisabledFault" />
    </wsdl:message>


    <!--==================================================-->
    <!--            portType declaration                  -->
    <!--==================================================-->

    <wsdl:portType name="WorkspaceGroupPortType"
        wsdlpp:extends="wsrlw:ImmediateResourceTermination">

        <wsdl:operation  name="start">

            <wsdl:input  message="tns:StartWorkspacesInputMessage" />
            <wsdl:output message="tns:StartWorkspacesOutputMessage" />

            <wsdl:fault  name="WorkspaceStartFault"
                         message="tns:StartFaultMessage" />

            <wsdl:fault  name="OperationDisabledFault"
                         message="tns:DisabledFaultMessage" />

            <wsdl:fault  name="UnknownWorkspaceFault"
                         message="tns:UnknownFaultMessage" />
        </wsdl:operation>

        <wsdl:operation  name="shutdown">

            <wsdl:input  message="tns:ShutdownWorkspacesInputMessage" />
            <wsdl:output message="tns:ShutdownWorkspacesOutputMessage" />

            <wsdl:fault  name="WorkspaceShutdownFault"
                         message="tns:ShutdownFaultMessage" />

            <wsdl:fault  name="OperationDisabledFault"
                         message="tns:DisabledFaultMessage" />

            <wsdl:fault  name="UnknownWorkspaceFault"
                         message="tns:UnknownFaultMessage" />
        </wsdl:operation>

    </wsdl:portType>

</wsdl:definitions>
