docs/src/examples/compact/workspace_ensemble_port_type_compact.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
/*
 * Copyright 1999-2007 University of Chicago
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
 -->

<!-- non processed WSDL, see copyToDeployableComponent ant target -->

<wsdl:definitions
    name="WorkspaceEnsembleService"
    targetNamespace="http://www.globus.org/2008/06/workspace/ensemble"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd"
    xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
    xmlns:tns="http://www.globus.org/2008/06/workspace/ensemble"
    xmlns:work-types="http://www.globus.org/2008/06/workspace/types" >

    <wsdl:import
        namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
        location="../wsrf/lifetime/WS-ResourceLifetime.wsdl" />

    <wsdl:types>
        <xs:schema
            targetNamespace="http://www.globus.org/2008/06/workspace/ensemble"
            xmlns:tns="http://www.globus.org/2008/06/workspace/ensemble"
            elementFormDefault="qualified">

            <xs:import
                namespace="http://www.globus.org/2008/06/workspace/types"
                schemaLocation="./workspace_types.xsd" />

            <!--==================================================-->
            <!--  Operational input/output type declarations      -->
            <!--==================================================-->

            <xs:complexType name="voidType" />

            <xs:element name="done"
                        type="tns:voidType" />

            <xs:element name="doneResponse"
                        type="tns:voidType" />

            <xs:element name="report"
                        type="work-types:reportSend_Type" />

            <xs:element name="reportResponse"
                        type="work-types:reportResponse_Type" />

            <xs:element name="WorkspaceEnsembleFault">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="wsbf:BaseFaultType" />
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>

    <!--==================================================-->
    <!--            Message declarations                  -->
    <!--==================================================-->

    <wsdl:message  name="DoneInputMessage">
        <wsdl:part name="parameters"
                   element="tns:done" />
    </wsdl:message>

    <wsdl:message  name="DoneOutputMessage">
        <wsdl:part name="parameters"
                   element="tns:doneResponse" />
    </wsdl:message>

    <wsdl:message  name="ReportInputMessage">
        <wsdl:part name="parameters"
                   element="tns:report" />
    </wsdl:message>

    <wsdl:message  name="ReportOutputMessage">
        <wsdl:part name="parameters"
                   element="tns:reportResponse" />
    </wsdl:message>

    <!-- messages for faults: -->

    <wsdl:message  name="UnknownFaultMessage">
        <wsdl:part name="description"
                   element="work-types:WorkspaceUnknownFault" />
    </wsdl:message>

    <wsdl:message  name="EnsembleFaultMessage">
        <wsdl:part name="description"
                   element="tns:WorkspaceEnsembleFault" />
    </wsdl:message>

    <!--==================================================-->
    <!--            portType declaration                  -->
    <!--==================================================-->

    <!-- perhaps add RP/notifs in the future, showing e.g. locked status -->
    
    <wsdl:portType name="WorkspaceEnsemblePortType"
                   wsdlpp:extends="wsrlw:ImmediateResourceTermination">

        <wsdl:operation  name="done">

            <wsdl:input  message="tns:DoneInputMessage" />
            <wsdl:output message="tns:DoneOutputMessage" />

            <wsdl:fault  name="EnsembleFault"
                         message="tns:EnsembleFaultMessage" />

            <wsdl:fault  name="UnknownWorkspaceFault"
                         message="tns:UnknownFaultMessage" />
        </wsdl:operation>

        <wsdl:operation  name="report">

            <wsdl:input  message="tns:ReportInputMessage" />
            <wsdl:output message="tns:ReportOutputMessage" />

            <wsdl:fault  name="EnsembleFault"
                         message="tns:EnsembleFaultMessage" />

            <wsdl:fault  name="UnknownWorkspaceFault"
                         message="tns:UnknownFaultMessage" />
        </wsdl:operation>

    </wsdl:portType>

</wsdl:definitions>
